<a href="https://colab.research.google.com/github/Bibhash123/Project-Primary-Quantization/blob/main/Dataset/Tondi's_method_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/andreacos/CnnJpegPrimaryQuantizationEstimation.git

Cloning into 'CnnJpegPrimaryQuantizationEstimation'...
remote: Enumerating objects: 459, done.
remote: Counting objects: 100% (459/459), done.
remote: Compressing objects: 100% (412/412), done.
remote: Total 459 (delta 40), reused 430 (delta 26), pack-reused 0
Receiving objects: 100% (459/459), 11.67 MiB | 14.41 MiB/s, done.
Resolving deltas: 100% (40/40), done.

In [ ]:
from google.colab import files
_ = files.upload()
!mkdir ~/.kaggle/
!cp kaggle.json ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json
!pip install -q kaggle
!kaggle datasets download -d "mrutyunjaybiswal/raisetiff-uncompressed-images-dataset-x300"
!unzip -q /content/raisetiff-uncompressed-images-dataset-x300.zip -d "/content/UncompressedData/"
!rm -r /content/raisetiff-uncompressed-images-dataset-x300.zip

Saving kaggle.json to kaggle.json
Downloading raisetiff-uncompressed-images-dataset-x300.zip to /content
100% 6.34G/6.34G [02:15<00:00, 26.3MB/s]
100% 6.34G/6.34G [02:15<00:00, 50.3MB/s]

In [ ]:
!pip install virtualenv

Collecting virtualenv
  Downloading virtualenv-20.10.0-py2.py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 5.1 MB/s
Collecting backports.entry-points-selectable>=1.0.4
  Downloading backports.entry_points_selectable-1.1.1-py2.py3-none-any.whl (6.2 kB)
Requirement already satisfied: six<2,>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from virtualenv) (1.15.0)
Requirement already satisfied: filelock<4,>=3.2 in /usr/local/lib/python3.7/dist-packages (from virtualenv) (3.4.0)
Requirement already satisfied: importlib-metadata>=0.12 in /usr/local/lib/python3.7/dist-packages (from virtualenv) (4.8.2)
Collecting distlib<1,>=0.3.1
  Downloading distlib-0.3.4-py2.py3-none-any.whl (461 kB)
     |████████████████████████████████| 461 kB 38.8 MB/s
Collecting platformdirs<3,>=2
  Downloading platformdirs-2.4.0-py3-none-any.whl (14 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->virtualenv) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->virtualenv) (3.10.0.2)
Installing collected packages: platformdirs, distlib, backports.entry-points-selectable, virtualenv
Successfully installed backports.entry-points-selectable-1.1.1 distlib-0.3.4 platformdirs-2.4.0 virtualenv-20.10.0

In [ ]:
!python -m virtualenv myvenv
!source myvenv/bin/activate

created virtual environment CPython3.7.12.final.0-64 in 909ms
  creator CPython3Posix(dest=/content/CnnJpegPrimaryQuantizationEstimation/myvenv, clear=False, no_vcs_ignore=False, global=False)
  seeder FromAppData(download=False, pip=bundle, setuptools=bundle, wheel=bundle, via=copy, app_data_dir=/root/.local/share/virtualenv)
    added seed packages: pip==21.3.1, setuptools==58.3.0, wheel==0.37.0
  activators BashActivator,CShellActivator,FishActivator,NushellActivator,PowerShellActivator,PythonActivator

In [ ]:
import sys
import glob
import os
sys.path.append("/content/CnnJpegPrimaryQuantizationEstimation/")
os.chdir("/content/CnnJpegPrimaryQuantizationEstimation/")

In [ ]:
!pip install -r "resources/requirements.txt"

In [ ]:
!apt-get install libmagickwand-dev

In [ ]:
!mkdir "/content/Data"
!mkdir "/content/Data/Train/"
!mkdir "/content/Data/Test/"

In [ ]:
!cp -r "/content/UncompressedData/val_tiff/." "/content/UncompressedData/train_tiff/"
for f in glob.glob(os.path.join("/content/UncompressedData/test_tiff/","*.TIF"))[:40]:
  !mv $f "/content/UncompressedData/train_tiff/"
!rm -r "/content/UncompressedData/val_tiff/"

In [ ]:
with open("/content/Data/train.txt",'a') as f:
  for img in glob.glob(os.path.join("/content/UncompressedData/train_tiff/","*.TIF")):
    f.write(img)
    f.write("\n")

with open("/content/Data/test.txt",'a') as f:
  for img in glob.glob(os.path.join("/content/UncompressedData/test_tiff/","*.TIF")):
    f.write(img)
    f.write("\n")

In [ ]:
!python /content/CnnJpegPrimaryQuantizationEstimation/datasets.py

Dataset JPEG qf1 = 60, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 65, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 70, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 75, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 80, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 85, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 90, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 95, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
Dataset JPEG qf1 = 98, qf2 = 90
5000 blocks out of 400000.0 so far
10000 blocks out of 400000.0 so far
15000 blocks out of 400000.0 so far
20000 blocks out of 400000.0 so far
5000 blocks out of 40000.0 so far
95-90
90-90
75-90
60-90
70-90
80-90
85-90
98-90
65-90
Saving data frame (216000, 7) to /content/Data/train.csv
95-90
90-90
75-90
60-90
70-90
80-90
85-90
98-90
65-90
Saving data frame (54000, 7) to /content/Data/test_files.csv

In [ ]:
import pandas as pd
train = pd.read_csv("/content/Data/train.csv",sep=";",header=None)
test = pd.read_csv('/content/Data/test_files.csv',sep = ";",header=None)

In [ ]:
train.shape

(216000, 8)

In [ ]:
test.shape

(54000, 8)

In [ ]:
train

            0                                                  1  ...  6  7
0           0  /content/Data/Train/95-90/00000000_rcb192c6at....  ...  3  2
1           1  /content/Data/Train/95-90/00000001_rcb192c6at....  ...  3  2
2           2  /content/Data/Train/95-90/00000002_rcb192c6at....  ...  3  2
3           3  /content/Data/Train/95-90/00000003_rcb192c6at....  ...  3  2
4           4  /content/Data/Train/95-90/00000004_rcb192c6at....  ...  3  2
...       ...                                                ...  ... .. ..
215995  23995  /content/Data/Train/65-90/00023995_r712dd497t....  ...  0  1
215996  23996  /content/Data/Train/65-90/00023996_r712dd497t....  ...  0  1
215997  23997  /content/Data/Train/65-90/00023997_r712dd497t....  ...  0  1
215998  23998  /content/Data/Train/65-90/00023998_r712dd497t....  ...  0  1
215999  23999  /content/Data/Train/65-90/00023999_r712dd497t....  ...  0  1

[216000 rows x 8 columns]

In [ ]:
test

          0                                                  1  ...  6  7
0         0  /content/Data/Test/95-90/00000000_r12c5f70bt.T...  ...  5  4
1         1  /content/Data/Test/95-90/00000001_r12c5f70bt.T...  ...  5  4
2         2  /content/Data/Test/95-90/00000002_r12c5f70bt.T...  ...  5  4
3         3  /content/Data/Test/95-90/00000003_r12c5f70bt.T...  ...  5  4
4         4  /content/Data/Test/95-90/00000004_r12c5f70bt.T...  ...  5  4
...     ...                                                ...  ... .. ..
53995  5995  /content/Data/Test/65-90/00005995_r5ed2b0ect.T...  ...  2  0
53996  5996  /content/Data/Test/65-90/00005996_r5ed2b0ect.T...  ...  2  0
53997  5997  /content/Data/Test/65-90/00005997_r5ed2b0ect.T...  ...  2  0
53998  5998  /content/Data/Test/65-90/00005998_r5ed2b0ect.T...  ...  2  0
53999  5999  /content/Data/Test/65-90/00005999_r5ed2b0ect.T...  ...  2  0

[54000 rows x 8 columns]

In [ ]:
!kaggle datasets init -p "/content/Data"

Data package template written to: /content/Data/dataset-metadata.json

In [ ]:
!kaggle datasets create -p "/content/Data" --dir-mode tar

Starting upload for file Test.tar
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 276M/276M [00:02<00:00, 103MB/s]
Upload successful: Test.tar (276MB)
Starting upload for file test.txt
100% 2.99k/2.99k [00:00<00:00, 11.6kB/s]
Upload successful: test.txt (3KB)
Starting upload for file test.csv
100% 12.9M/12.9M [00:00<00:00, 37.1MB/s]
Upload successful: test.csv (13MB)
Starting upload for file Train.tar
100% 1.08G/1.08G [00:11<00:00, 100MB/s]
Upload successful: Train.tar (1GB)
Starting upload for file train.csv
100% 52.1M/52.1M [00:00<00:00, 82.1MB/s]
Upload successful: train.csv (52MB)
Starting upload for file train.txt
100% 12.2k/12.2k [00:00<00:00, 57.8kB/s]
Upload successful: train.txt (12KB)
Starting upload for file .ipynb_checkpoints.tar
100% 10.0k/10.0k [00:00<00:00, 47.8kB/s]
Upload successful: .ipynb_checkpoints.tar (10KB)
Your private Dataset is being created. Please check progress at https://www.kaggle.com/bibhash123/tondidataset